In [1]:
from sklearn import linear_model,preprocessing

In [2]:
data = pd.read_csv("agr_en_train.csv")

NameError: name 'pd' is not defined

In [6]:
import pandas as pd
data = pd.read_csv("agr_en_train_modified.csv")

In [7]:
le = preprocessing.LabelEncoder()

In [8]:
data

       Unnamed: 0                                               Text Offensive
0               0  Most of Private Banks ATM's Like HDFC, ICICI e...       NAG
1               1     Now question is, Pakistan will adhere to this?       OAG
2               2  Pakistan is comprised of fake muslims who does...       OAG
3               3  ??we r against cow slaughter,so of course it w...       NAG
4               4  Wondering why Educated Ambassador is strugglin...       CAG
...           ...                                                ...       ...
11993       11993  They belong to you flight dirty terrorist coun...       OAG
11994       11994  Really motivating programme, congratulations t...       NAG
11995       11995                                    fabricated news       OAG
11996       11996               What's wrong with you secular idiots       OAG
11997       11997  Looks like inevitable after all political hard...       NAG

[11998 rows x 3 columns]

In [9]:
data.columns = ["Index","Text","Offensive"]

In [11]:
data.drop(columns=["Index"])

                                                    Text Offensive
0      Most of Private Banks ATM's Like HDFC, ICICI e...       NAG
1         Now question is, Pakistan will adhere to this?       OAG
2      Pakistan is comprised of fake muslims who does...       OAG
3      ??we r against cow slaughter,so of course it w...       NAG
4      Wondering why Educated Ambassador is strugglin...       CAG
...                                                  ...       ...
11993  They belong to you flight dirty terrorist coun...       OAG
11994  Really motivating programme, congratulations t...       NAG
11995                                    fabricated news       OAG
11996               What's wrong with you secular idiots       OAG
11997  Looks like inevitable after all political hard...       NAG

[11998 rows x 2 columns]

In [15]:
text = le.fit_transform(list(data["Text"]))

In [16]:
offensive = le.fit_transform(list(data[""]))

SyntaxError: invalid syntax (Temp/ipykernel_5456/1227058024.py, line 1)