In [1]:
from sklearn import linear_model
from sklearn import naive_bayes
from sklearn import ensemble
from sklearn import tree
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
df = pd.DataFrame(pd.read_csv("40k_modified.csv"))

In [3]:
df

       Unnamed: 0                                               text  label
0               0  It should be legal for a husband to rape his wife      1
1               1                            dalits are lowlife scum      1
2               2                                dalits are lowlives      1
3               3  It was a better world when women dare not ques...      1
4               4  I don't work this hard so that those immigrant...      1
...           ...                                                ...    ...
40618       40618  we should forcibly remove all the foreigners f...      1
40619       40619  we should forcibly remove all the immigrants f...      1
40620       40620               dalits are unworthy of the Gods love      1
40621       40621                               dalits are worthless      1
40622       40622       dalits are deserves to be treated as lowlife      1

[40623 rows x 3 columns]

In [4]:
df.columns = ["ind","text","label"]

In [5]:
df = df.drop(columns=["ind"])

In [6]:
df

                                                    text  label
0      It should be legal for a husband to rape his wife      1
1                                dalits are lowlife scum      1
2                                    dalits are lowlives      1
3      It was a better world when women dare not ques...      1
4      I don't work this hard so that those immigrant...      1
...                                                  ...    ...
40618  we should forcibly remove all the foreigners f...      1
40619  we should forcibly remove all the immigrants f...      1
40620               dalits are unworthy of the Gods love      1
40621                               dalits are worthless      1
40622       dalits are deserves to be treated as lowlife      1

[40623 rows x 2 columns]

In [7]:
df_hate = df[df.label==1]

In [8]:
df_hate

                                                    text  label
0      It should be legal for a husband to rape his wife      1
1                                dalits are lowlife scum      1
2                                    dalits are lowlives      1
3      It was a better world when women dare not ques...      1
4      I don't work this hard so that those immigrant...      1
...                                                  ...    ...
40618  we should forcibly remove all the foreigners f...      1
40619  we should forcibly remove all the immigrants f...      1
40620               dalits are unworthy of the Gods love      1
40621                               dalits are worthless      1
40622       dalits are deserves to be treated as lowlife      1

[22124 rows x 2 columns]

In [9]:
df_nothate = df.drop(df_hate.index)

In [10]:
df_nothate

                                                   text  label
26                                   I dont hate hindus      0
27                                  I dont hate Muslims      0
28                             I dont hatefucking Islam      0
29                          I dont hate fucking Muslims      0
30                    The world full of women is unfair      0
...                                                 ...    ...
40471            This meal is so disgusting I wanna die      0
40510   this apartment is full of rats, it's disgusting      0
40530    the street was full of rats, it was appalling!      0
40531  the street was full of snakes, it was appalling!      0
40540              This banana was all black, repulsive      0

[18499 rows x 2 columns]

In [11]:
df["text"]

0        It should be legal for a husband to rape his wife
1                                  dalits are lowlife scum
2                                      dalits are lowlives
3        It was a better world when women dare not ques...
4        I don't work this hard so that those immigrant...
                               ...
40618    we should forcibly remove all the foreigners f...
40619    we should forcibly remove all the immigrants f...
40620                 dalits are unworthy of the Gods love
40621                                 dalits are worthless
40622         dalits are deserves to be treated as lowlife
Name: text, Length: 40623, dtype: object

In [12]:
corpus = []
for i in df["text"]:
    corpus.append(i)

In [13]:
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(corpus)

In [14]:
xDense = X.todense()

In [15]:
xDense

matrix([[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]])

In [16]:
xDenseList = xDense.tolist()

In [19]:
features = vectorizer.get_feature_names()
df2 = pd.DataFrame(xDenseList,columns=features)

In [20]:
df2

,00,000,09,0f,0ff1c3,0ids,0ld,0nly,10,100,...,špeople,šred,šreid,šterf,šthen,šwho,šwitch,šðÿ,ƒð,ˆðÿ
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40618,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
40619,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
40620,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
40621,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
40622,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0