In [1]:
import pandas as pd

In [12]:
df=pd.read_csv(r"C:\Users\Sarath\Documents\S4\Hackathon\english_test.csv")

In [6]:
df.describe()

,facebook_corpus_msr_451811,The quality of re made now makes me think it is something to be bought from fish market,CAG
count,3000,3000,3000
unique,3000,2968,3
top,facebook_corpus_msr_334368,Fake,NAG
freq,1,5,1233

In [16]:
df.columns=["Source","Textual Data","Hate"]

In [18]:
df.drop(columns=["Source"])

                                           Textual Data Hate
0     @siva \r\nHow is ur mother???\r\nHow is ur wif...  NAG
1     Also see ....hw ur RSS activist caught in Burk...  NAG
2     On the death of 2 jawans in LOC CROSS FIRING\r...  NAG
3     Modi ho ya Manmohan singh saala yeh log kuch n...  OAG
4     No discrimination in policies and NON protecti...  CAG
...                                                 ...  ...
2995                     Gaddaron se to yahi sahi hain.  NAG
2996  Just saw this news\r\n* read 1dt comment. \r\n...  CAG
2997  U guys can crack jokes but can't take the crid...  CAG
2998  These media fellows have time to dissect one's...  CAG
2999  Middle class is suffering, but most affected a...  NAG

[3000 rows x 2 columns]

In [17]:
df

,Source,Textual Data,Hate
0,facebook_corpus_msr_334368,@siva \r\nHow is ur mother???\r\nHow is ur wif...,NAG
1,facebook_corpus_msr_331195,Also see ....hw ur RSS activist caught in Burk...,NAG
2,facebook_corpus_msr_403402,On the death of 2 jawans in LOC CROSS FIRING\r...,NAG
3,facebook_corpus_msr_379239,Modi ho ya Manmohan singh saala yeh log kuch n...,OAG
4,facebook_corpus_msr_2111264,No discrimination in policies and NON protecti...,CAG
...,...,...,...
2995,facebook_corpus_msr_2111345,Gaddaron se to yahi sahi hain.,NAG
2996,facebook_corpus_msr_327007,Just saw this news\r\n* read 1dt comment. \r\n...,CAG
2997,facebook_corpus_msr_1600567,U guys can crack jokes but can't take the crid...,CAG
2998,facebook_corpus_msr_1931139,These media fellows have time to dissect one's...,CAG
2999,facebook_corpus_msr_470220,"Middle class is suffering, but most affected a...",NAG

,Source,Textual Data,Hate
1,facebook_corpus_msr_331195,Also see ....hw ur RSS activist caught in Burk...,NAG